@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Montserrat', sans-serif;
}
p,h2{
  color:#a5a5a5;
}
.circle-wrap {
  margin: 100px auto;
  width: 150px;
  height: 150px;
  background: f5f0f0;
  border-radius: 70%;
  border: 1px solid #cdcbd0;
}
.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 1000%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 12px;
  margin-left: 12px;
  color: #444;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}